.welcome {
  padding:25px;
  background-color:#b0e0e6;
}
.welcomeBio {
  font-size: 115%;
  border-bottom-width: 1px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  border-top-style: solid;
  columns: 50px 2;
  margin: 0px 0px 0px 0px;
  padding: 15px;
  background-color:#b0e0e6;
}
.aboutme {
  padding:25px;25px;25px;25px;
  background-color:#b0e0e6;
  columns: 100px 2;
  height: 400px;
}
.likes {
  columns: 4;
  column-width: 200px;
  padding:25px;
  background-color:#b0e0e6;
}
.funfact {
  font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
  font-size: 150%;
  width: 400;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 25px;
  position: relative;
  border-color: #007600;
  border-style: outset; 20;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/78/9f/f0/789ff0ef265bf4cb0d5533396dad16fb.jpg");
  background-position: center;
}
.projectimgs{
  columns: 100px 2;
  padding: 5px;
  background-color:#b0e0e6;
}

/*conditional button*/
.conditionalsbutton {
    position: absolute;
    background-color: #b0e0e6;
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.conditionalsbutton .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
.conditionalsbutton .button:hover {
    background-color: #3e8e41;
}
/*.core4buttons {
  font-size: 12px;
  columns: 100px 4;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}*/
.core4 {
  columns: 100px 4;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color:#b0e0e6;
}
.buttoncore4 {
  float: left;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color:#b0e0e6;
}
